* {
    margin: 0;
}

body {
    background-color: rgb(2, 49, 34);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: aquamarine;
}

#list {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
}

.card {
    background-color: aquamarine;
    color: rgb(2, 49, 34);
    border: 1px solid rgb(68, 45, 18);
    border-radius: 16px;
    padding: 0px 4px;
}

.card > h2 {
    text-align: center;
}

.checkmark {
    display: block;
    text-align: end;
}

.card > h5 {
    text-align: center;
}

.card > p {
    text-align: center;
}

.read {

}